/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
    --header-p-text: #000028;
    --maine-text-color: #F1B2CE;
    --text-color: #FF0070;
    --title-color: #DB00FF;
    --main-color: #FF0070;
    --bg-img: url(../images/cover-image-dark.png);
}
  :root {
    
}


