/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}
:root {
  --accent-color: #000028;
 }