
.page.theme_dark {
  --accent-color: #FF0070;
  --header-p-text: #000028;
  --maine-text-color: #F1B2CE;
  --text-color: #FF0070;
  --title-color: #DB00FF;
  --main-color: #FF0070;
  background-image: url(../images/cover-image-dark.png);

  .header__point {
    display: block;
  }
  
  .header__decoration {
    display: block;
  }
}



