/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

:root {
  --accent-color: #ff8dcb;
} 

/* .header {
  display: flex;
  max-width: 1024px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.decorated-zone{
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__theme-menu {
  margin-top: 22px;
}

.header__theme-menu-list {
  display: flex;
  gap: 23px;

}

.header__theme-menu-item {
  width: 44px;
  height: 23px;

}

.header__theme-menu-button {

}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__theme-menu-button_active {

}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 114px;
  margin: 273px 20px 134px 0;
  
}

.header__titel {
  width: 759px;
  height: 130px;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
}

.header__paragraph {
  width: 491px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #000028;
  background-color: #FF0070;
}

.main {
  width: 1024px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 60px;
  gap: 80px;
  background-color: #FFF1F7;
  
}

.section__question {
  position: relative;
  
}

.section__block-appearance {
  display: grid;
  grid-template-columns: 315px auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.section__reasoning {
  position: relative;
}

.block-reasoning {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section__answer {
  position: relative;
}

.section__block-better {
  display: grid;
  grid-template-columns: 315px auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.section__titel {
  color: #353430;
  width: 315px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.title_block {
  color: #000028;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #FF0070;
}

.paragraph_block {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #353430;
  
}

.section__pictures {
  position: relative;
}

.footer {
  background-color: #000028;
} */