/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

:root {
  --accent-color: #ff8dcb;
} 