/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --header-p-text: #353430;
  --maine-text-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --main-color: #FF8DCB;
  --bg-img:url(../images/cover-image-light.png);
  
}

:root {
  
} 

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #ff8dcb;
  --header-p-text: #353430;
  --maine-text-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --main-color: #FF8DCB;
  --bg-img:url(../images/cover-image-light.png);
  }
}