/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: flex;
  height: 768px;
  margin-bottom: 60px;
  
}

.decorated-zone{

}

.header__theme-menu {

}

.header__theme-menu-list {
  display: flex;
  gap: 23px;

}

.header__theme-menu-item {
  width: 44px;
  height: 23px;

}

.header__theme-menu-button {

}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__theme-menu-button_active {

}

.header_titel {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
}

.header_paragraph {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}