.page {
  font-family: IBM Plex Mono, Bold, Regular;
  
}

.header {
  display: flex;
  max-width: 1024px;
  flex-direction: column;
  padding-top: 22px;
  margin: auto;
}

.decorated-zone{
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__theme-menu {
  margin: auto;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;

} 

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  display: flex;
  
}

.header__theme-menu-button {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF0070;
  background-color: transparent;
  border: none;
  padding: 0 13px 0 13px;
  
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 114px;
  margin: 273px 20px 134px 0;
}

.header__titel {
  max-width: 759px;
  max-height: 130px;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
}

.header__paragraph {
  max-width: 490px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  color: #000028;
  background-color: #FF0070;
  align-self: flex-end;
}

.main {
  max-width: 1024px;
  margin: auto;
  background-color: #000028;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section__question {
  max-width: 984px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.section__titel {
  color: #FF0070;
  max-width: 315px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_block {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #000028;
  background-color: #FF0070;
}

.paragraph_block {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: #F1B2CE;
}

.section__block-appearance {
  
}

.section__reasoning {
  max-width: 984px;
  padding-top: 45px;
}

.section__block-concentration {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content_block {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-reasoning {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section__answer {
  position: relative;
  width: 984px;
  margin-top: 80px;
}

.section__block-better {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
}

.block-bumer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: #000028;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #FF0070;
}

.section__pictures {
  max-width: 1024px;
  position: relative;
  padding-bottom: 60px;
  margin-top: 80px;
}

.title-pictures {
  max-width: 984px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #000028;
  background-color: #FF0070;
  margin: auto auto 20px auto;
}

.pictures_block {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  margin: auto;
}
  
.pictures-ice-cream {
  width: 315px;
  height: 595px;
  object-fit: cover;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: 15px;
}

.pictures-books {
  width: 315px;
  height: 315px;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 10px;
  
}

.pictures-street {
  width: 649px;
  height: 428px;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  margin-top: 20px;
  margin-left: 10px;
  
}

.pictures-sunset {
  width: 649px;
  height: 259px;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.pictures-tape {
  width: 315px;
  height: 768px;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

.footer {
  max-width: 1024px;
  min-height: 768px;
  display: flex;
  margin: auto;
  background-color: #000028;
  
}

.footer__title {
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  color: #DB00FF;
  text-shadow: 2px 2px #FF0070;
  margin: auto;
}