/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
    --header-p-text: #000028;
    --maine-text-color: #F1B2CE;
    --text-color: #FF0070;
    --title-color: #DB00FF;
    --main-color: #FF0070;
    --bg-img: url(../images/cover-image-dark.png);
}

:root {
  --main-font: IBM Plex Mono, monospace;
}